{{ ansible_managed | comment }}

$ModLoad immark.so
$ModLoad imuxsock.so
$ModLoad imklog.so

{% if rsyslog_max_message_size is defined %}
$MaxMessageSize {{ rsyslog_max_message_size }}
{% endif %}
{% if rsyslog_action_file_template %}
$ActionFileDefaultTemplate myFormat
$template myFormat,{{ rsyslog_action_file_template }}
{% else %}
$ActionFileDefaultTemplate {{ rsyslog_action_file_default_template }}
{% endif %}

$AbortOnUncleanConfig {{ rsyslog_abort_on_unclean_config | default('off') }}
$RepeatedMsgReduction {{ rsyslog_repeated_msg_reduction | default('off') }}
$PreserveFQDN {{ rsyslog_preserve_fqdn | default('on') }}

$FileOwner {{ rsyslog_file_owner }}
$FileGroup {{ rsyslog_file_group }}
$FileCreateMode {{ rsyslog_file_create_mode }}
$Umask {{ rsyslog_umask }}
{% if rsyslog_priv_drop_to_user %}
$PrivDropToUser {{ rsyslog_priv_drop_to_user }}
{% endif %}
{% if rsyslog_priv_drop_to_group %}
$PrivDropToGroup {{ rsyslog_priv_drop_to_group }}
{% endif %}

{% if rsyslog_server_udp %}
module(load="imudp")
input(type="imudp" inputname="{{ rsyslog_server_udp_name }}" port="{{ rsyslog_server_udp_port }}" address="{{ rsyslog_server_udp_address }}" 
      ratelimit.interval="{{ rsyslog_server_udp_ratelimit }}" SchedulingPolicy="fifo" )
{% endif %}

{% if rsyslog_server_tcp %}
module(load="imtcp" MaxSessions="500")
input(type="imtcp" name="{{ rsyslog_server_tcp_name }}" port="{{ rsyslog_server_tcp_port }}" address="{{ rsyslog_server_tcp_address }}"
      ratelimit.interval="{{ rsyslog_server_tcp_ratelimit }}" )
{% endif %}

$IncludeConfig {{ rsyslog_include_path }}/*.conf
